<!-- 
<div class="text-center">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModalLong"
  >
    Register
  </button>
</div>


<div
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-dialog-centered"
    style="margin-top: 150px"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgb(38, 149, 227)">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form action="">
          <div class="container text-center">
            <div class="row">
              <div class="col-sm-4">
                <div class="card imgholder">
                  <label for="imgInput" class="upload">
                    <input type="file" name="" id="imgInput" />
                    <i class="bi bi-plus-circle-dotted"></i>
                  </label>
                  <img
                    src="/assets/img/Profile Icon.webp"
                    alt=""
                    width="200"
                    height="200"
                    class="img"
                  />
                </div>
              </div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col my-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First name"
                      aria-label="First name"
                    />
                  </div>
                  <div class="col my-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last name"
                      aria-label="Last name"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input
                      type="email"
                      class="form-control my-3"
                      placeholder="Email"
                      aria-label="Email"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input
                      type="number"
                      class="form-control my-3"
                      placeholder="(541) 754-3010"
                      aria-label="number"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col range my-3" data-mdb-range-init>
                    <label for="customRange1" class="form-label">Age</label>
                    <input type="range" class="form-range" id="customRange1" />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <select id="inputState" class="form-select my-3">
                      <option selected>State</option>
                      <option value="New York">New York</option>
                      <option value="Los Angeles">Los Angeles</option>
                      <option value="Chicago">Chicago</option>
                      <option value="Houston">Houston</option>
                      <option value="Miami">Miami</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <select id="inputState" class="form-select my-3">
                      <option selected>Country</option>
                      <option value="New York">New York</option>
                      <option value="Los Angeles">Los Angeles</option>
                      <option value="Chicago">Chicago</option>
                      <option value="Houston">Houston</option>
                      <option value="Miami">Miami</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input
                      type="text"
                      class="form-control my-3"
                      id="inputAddress2"
                      placeholder="Address"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="input-row">
                      <input type="text" placeholder="Tags" name="tag" />
                    </div>
                    <div id="sampleTagsContainer">
                      <span class="badge badge-primary bg-primary square-badge"
                        >apple <span class="tag-remove">&times;</span></span
                      >
                      <span class="badge badge-primary bg-primary square-badge"
                        >banana <span class="tag-remove">&times;</span></span
                      >
                      <span class="badge badge-primary bg-primary square-badge"
                        >orange <span class="tag-remove">&times;</span></span
                      >
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <input
                      class="form-check-input my-3"
                      type="checkbox"
                      id="gridCheck"
                    />
                    <label class="form-check-label my-3" for="gridCheck">
                      subscribe to newsletter
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div class="text-center">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModalLong"
  >
    Register
  </button>
</div>

<div
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-dialog-centered"
    style="margin-top: 150px"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgb(38, 149, 227)">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form action="" [formGroup]="employeeform">
          <div class="container text-center">
            <div class="row">
              <div class="col-sm-4">
                <div class="card imgholder">
                  <input
                    type="file"
                    id="photoInput"
                    (change)="onFileSelected($event)"
                    formControlName="photo"
                  />
                  <label for="photoInput" class="form-label upload"
                    >Upload Photo (310x325 px)</label
                  >
                  <img
                    src="/assets/img/Profile Icon.webp"
                    alt=""
                    width="200"
                    height="200"
                    class="img"
                  />
                  <img
                    [src]="employeeform.get('photo')?.value"
                    alt="Preview"
                    *ngIf="employeeform.get('photo')?.value"
                    width="200"
                    height="200"
                    class="img"
                  />
                  <small *ngIf="photoSizeError" class="text-danger">{{
                    photoSizeError
                  }}</small>
                </div>
              </div>

              <div class="col-sm-8">
                <div class="row">
                  <div class="col my-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First name"
                      aria-label="First name"
                      formControlName="firstName"
                    />
                    <small
                      *ngIf="
                        employeeform.get('firstName')?.invalid &&
                        (employeeform.get('firstName')?.dirty ||
                          employeeform.get('firstName')?.touched)
                      "
                      class="block p-error"
                    >
                      <div
                        *ngIf="employeeform.get('firstName')?.errors?.['required']"
                        class="error-message"
                      >
                        Name is required.
                      </div>
                      <div
                        *ngIf="employeeform.get('firstName')?.errors?.['pattern']"
                        class="error-message"
                      >
                        Enter a valid Name.
                      </div>
                      <div
                        *ngIf="employeeform.get('firstName')?.errors?.['maxlength']"
                        class="error-message"
                      >
                        Characters should be less than 20.
                      </div>
                    </small>
                  </div>
                  <div class="col my-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last name"
                      aria-label="Last name"
                      formControlName="lastName"
                    />
                    <small
                      *ngIf="
                        employeeform.get('lastName')?.invalid &&
                        (employeeform.get('lastName')?.dirty ||
                          employeeform.get('lastName')?.touched)
                      "
                      class="block p-error"
                    >
                      <div
                        *ngIf="employeeform.get('lastName')?.errors?.['required']"
                        class="error-message"
                      >
                        Name is required.
                      </div>
                      <div
                        *ngIf="employeeform.get('lastName')?.errors?.['pattern']"
                        class="error-message"
                      >
                        Enter a valid Name.
                      </div>
                      <div
                        *ngIf="employeeform.get('lastName')?.errors?.['maxlength']"
                        class="error-message"
                      >
                        Characters should be less than 20.
                      </div>
                    </small>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input
                      type="email"
                      class="form-control my-3"
                      placeholder="Email"
                      aria-label="Email"
                      formControlName="email"
                    />
                    <small
                      *ngIf="
                        employeeform.get('email')?.invalid &&
                        (employeeform.get('email')?.dirty ||
                          employeeform.get('email')?.touched)
                      "
                      class="block p-error"
                    >
                      <div
                        *ngIf="employeeform.get('email')?.errors?.['required']"
                        class="error-message"
                      >
                        Email is required.
                      </div>
                      <div
                        *ngIf="employeeform.get('email')?.errors?.['pattern']"
                        class="error-message"
                      >
                        Enter a valid email address.
                      </div>
                    </small>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input
                      type="tel"
                      class="form-control my-3"
                      placeholder="(541) 754-3010"
                      aria-label="number"
                      formControlName="phone"
                    />
                    <small
                      *ngIf="
                        employeeform.get('phone')?.invalid &&
                        (employeeform.get('phone')?.dirty ||
                          employeeform.get('phone')?.touched)
                      "
                      class="block p-error"
                    >
                      <div
                        *ngIf="employeeform.get('phone')?.errors?.['required']"
                        class="error-message"
                      >
                        Phone no is required.
                      </div>
                      <div
                        *ngIf="employeeform.get('phone')?.errors?.['pattern']"
                        class="error-message"
                      >
                        Enter a valid Phone.
                      </div>
                      <div
                        *ngIf="employeeform.get('phone')?.errors?.['maxlength']"
                        class="error-message"
                      >
                        Phone no should be 10 Digit.
                      </div>
                    </small>
                  </div>
                </div>
                <div class="row">
                  <div class="col range my-3" data-mdb-range-init>
                    <!-- <label for="customRange1" class="form-label">Age</label>
                    <input
                      type="range"
                      class="form-range"
                      id="customRange1"
                      formControlName="age"
                    /> -->
                    <label for="customRange1" class="form-label">Age</label>
                    <input
                      type="range"
                      class="form-range"
                      id="customRange1"
                      min="18"
                      max="100"
                      formControlName="age"
                      (input)="updateAge($event)"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="Select your age"
                    />
                    <div class="row">
                      <div class="col output">
                        <span>{{ age.value }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- app.component.html -->

                <div class="row">
                  <div class="col">
                    <select
                      id="countrySelect"
                      class="form-select my-3"
                      (change)="onCountryChange($event)"
                      formControlName="country"
                    >
                      <option selected>Country</option>
                      <option value="USA">USA</option>
                      <option value="Canada">Canada</option>
                      <option value="Australia">Australia</option>
                      <option value="India">India</option>
                      <!-- Add more country options as needed -->
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <select
                      id="stateSelect"
                      class="form-select my-3"
                      formControlName="state"
                    >
                      <option selected>State</option>
                      <!-- State options will be dynamically populated based on the selected country -->
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <input
                      type="text"
                      class="form-control my-3"
                      id="inputAddress2"
                      placeholder="Address"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <select
                          class="form-select my-3"
                          formControlName="addressType"
                          (change)="toggleAddressFields()"
                        >
                          <option value="Home">Home</option>
                          <option value="Company">Company</option>
                        </select>
                      </div>
                    </div>

                    <div
                      class="row"
                      *ngIf="employeeform?.get('addressType')?.value === 'Home'"
                    >
                      <div class="col">
                        <input
                          type="text"
                          class="form-control my-3"
                          placeholder="Address 1"
                          formControlName="address1"
                        />
                        <input
                          type="text"
                          class="form-control my-3"
                          placeholder="Address 2"
                          formControlName="address2"
                        />
                      </div>
                    </div>

                    <div
                      class="row"
                      *ngIf="
                        employeeform?.get('addressType')?.value === 'Company'
                      "
                    >
                      <div class="col">
                        <input
                          type="text"
                          class="form-control my-3"
                          placeholder="Company Address 1"
                          formControlName="companyAddress1"
                        />
                        <input
                          type="text"
                          class="form-control my-3"
                          placeholder="Company Address 2"
                          formControlName="companyAddress2"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <mat-form-field class="example-chip-list">
                  <mat-label>Tags</mat-label>
                  <mat-chip-grid #chipGrid aria-label="Enter fruits">
                    @for (fruit of fruits; track fruit) {
                    <mat-chip-row
                      (removed)="remove(fruit)"
                      [editable]="true"
                      (edited)="edit(fruit, $event)"
                      [aria-description]="'press enter to edit ' + fruit.name"
                    >
                      {{ fruit.name }}
                      <button
                        matChipRemove
                        [attr.aria-label]="'remove ' + fruit.name"
                      >
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                    }
                    <input
                      placeholder="New fruit..."
                      [matChipInputFor]="chipGrid"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)"
                      formControlName="fruits"
                    />
                  </mat-chip-grid>
                </mat-form-field>

                <div class="row">
                  <div class="col">
                    <input
                      class="form-check-input my-3"
                      type="checkbox"
                      id="gridCheck"
                      formControlName="subscribeToNewsletter"
                    />
                    <label class="form-check-label my-3" for="gridCheck">
                      subscribe to newsletter
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          (click)="addemp(this.employeeform.value)"
          type="button"
          class="btn btn-primary"
          [disabled]="employeeform.get('photo')?.invalid || employeeform.get('photo')?.errors?.['required'] || !employeeform.invalid"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
