<div class="container">
  <app-navbar></app-navbar>
</div>

<body>
  <div class="profile-container">
    <div class="profile-photo">
      <h5 style="color: blue">Profile</h5>
      <img alt="Profile Photo" />
      <div class="photo-buttons">
        <button>Edit Photo</button>
        <button>Edit Profile</button>
      </div>
    </div>
    <div class="user-info">
      <ng-container>
        <!-- <p>
          I'm {{ user.firstname }} {{ user.lastname }} and I'm
          {{ user.age }} years old.
        </p>
        <p>
          You can send your email to {{ user.email }}. I live in the state of
          {{ user.state }}.
        </p>
        <p>
          I like to play {{ user.tags }}, and reading books. Please send me
          newsletters.
        </p>
        <p>Please reach out to me on my phone number: {{ user.phoneNo }}</p> -->
        <button
          style="background-color: rgb(36, 123, 36); color: white; border: none"
        >
          I Agree
        </button>
      </ng-container>
    </div>
    <div class="box">
      <div class="box-sm red"></div>
      <div class="box-sm orange"></div>
      <div class="box-sm yellow"></div>
      <div class="box-sm green"></div>
      <div class="box-sm blue"></div>
      <div class="box-sm purple"></div>
      <div class="box-sm red"></div>
      <div class="box-sm orange"></div>
      <div class="box-sm yellow"></div>
      <div class="box-sm green"></div>
      <div class="box-sm blue"></div>
      <div class="box-sm purple"></div>
    </div>
    <!-- <ng-template #editFormSection> -->
    <!-- Show edit form when editing -->
    <!-- </ng-template> -->
  </div>

  <div class="container-fluid sub">
    <h4 class="s">Subscribe to our job Seeker Mailing List</h4>
    <div
      style="color: beige; padding-top: 1px"
      class="input-with-logo center footer"
    >
      <input
        type="text"
        placeholder="Enter Your Email Address"
        class="email-input"
        style="
          width: 300px;
          border: 3px solid #00a2ff;
          border-radius: 5px;
          padding-left: 10px;
          font-style: italic;
          height: 40px;
          background-color: transparent;
          color: rgb(255, 255, 255);
        "
      />
    </div>
  </div>
</body>
