.imgholder{
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.imgholder .upload{
  position: absolute;
  bottom: 0;
  left: 10;
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,0.3);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload i{
  color: #fff;
  font-size: 35px;
}

.imgholder:hover .upload{
  display: flex;
}

.imgholder .upload input{
  display: none;
}


.example-chip-list {
  width: 100%;
}
















.error-message {
  color: red;
  font-size: 12px;
}

.close {
  float: right;
  cursor: pointer;
  background-color: aqua;
  margin: 5px;
}

/* CSS for the registration form */

.block {
  display: block;
}

.p-error {
  color: #f44336; /* Red color */
}

.error-message {
  margin-top: 5px; /* Add some space between error messages */
 
}
